.THIS .header {
    font-size: 17px;
}

.THIS.maindiv {
    height: auto;
    overflow-y: auto;
    max-height: 68vh;
}

.THIS .dataNotFound {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.THIS .slds-grid_align-end {
    justify-content: flex-start !important;
}

.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}