.main{
	max-height: 50%;
}


.menu {
	margin-left: 0.5%;
	margin-top: 0.3%;
	/* margin: 1%; */
	vertical-align: middle;
}

.parent {
	background-color: #3e8ae7;
	vertical-align: middle;
}

.text {
	color: white;
	font-size: 20px;
}

b{
	text-align: center;
    width: -webkit-fill-available;
}

.parent_span{
	padding: 6px;
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
}

.label-float {
	position: relative;
	padding-top: 13px;
}

.label-float .regularclass {
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
	width: 90%;
    /* padding: 1rem; */
	font-size: 16px;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-webkit-appearance: none;
    background-color:rgb(255, 255, 255);
}

.regularclassPL{
    /* border: 1px solid lightgrey; */
	border-radius: 5px;
	outline: none;
	width: 90%;
    /* padding: 15px 20px; */
	font-size: 16px;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-webkit-appearance: none;
    background-color:rgb(255, 255, 255);
}

.regularclassPL input{
    /* padding: 0.55rem; */
    /* border-color: lightgrey; */
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    width: 100%;
    /* padding: 1rem; */
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
}

.label-float .regularclassselect {
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
	width: 70%;
	font-size: 16px;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
    background-color:rgb(255, 255, 255);
}

.label-float input:focus {
	border: 2px solid #00AEFF;
}

.label-float select {
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
	width: 70%;
    /* padding: 15px 20px; */
	font-size: 16px;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
    background-color:rgb(255, 255, 255);
    /* height: 8vh; */
	-webkit-appearance: caret;
}

.label-float select:focus {
	border: 2px solid #00AEFF;
}

.label-float .regularLabel {
	/* font-size: 1rem; */
	pointer-events: none;
	position: absolute;
	/* top: calc(50% - 1.1rem); */
	left: 0.9375rem;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	background-color: white;
	padding: 0.3125rem;
	box-sizing: border-box;
	border-radius: 50%;
	font-size: 13px;
	top: 0;
	color: #00AEFF;
    z-index: 99;
}

.checkboxclass{
    margin-left: 1rem;
    /* padding: 1rem; */
}

.checkboxlabelclass{
    font-size: 13px;
    color: #00AEFF;
}

.my-card-border {
	border: 1px solid #ddd;
}

.checkboxDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.header_css{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background: #F6F6F6;
    padding: 1rem;
    align-items: center;
}

.button_group button{
    border: 0.5px solid #0176D3;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.heading_bt{
    font-size: 20px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
}

.td_div_class{
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead{
    background: #0678ff;
    height: 4rem;
    padding: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}

td{
    padding-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.inside_dt_cls{
    overflow: hidden;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
}

.inside_dt_cls inside_dt_cls {
    background: #e0ebfa !important;
    color: #0176d3 !important;
}

.datatable_class{
    padding: 1rem;
}

.noData_class{
	display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
}

.padding_class{
	padding-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #00000026;
    overflow: hidden;
	margin: 1rem;
}

.fields{
    padding: 1rem;
}

.cancle_btn{
    border-radius: 10px;
    background: #C2C2C2;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem;
}

.save_btn{
    border-radius: 10px;
    background: #0176D3;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem;
}

.save_cancle_btn{
    display: none;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.add_flex{
    display: flex;
}

.not_field_container{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hidden{
    display: none;
}

.showSpinner{
    display: block;
}
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    /* .label-float input{
        min-width: 60%;
        padding: 15px 20px;
    }

    .label-float select {
        min-width: 60%;
        padding: 15px 20px;
    } */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

.inputStyle {
    border: none !important;
    border-bottom: 1px solid black  !important;
    background-color: transparent !important;
}

/* .icon-cell lightning-primitive-cell-icon {
    cursor: pointer;
} */