.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}
.THIS .blank-lst{
    text-align: center;
    padding: 5px;
}
.THIS .rkclass{
    color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel,rgb(68, 68, 68)));
    font-size: var(--lwc-formLabelFontSize,0.75rem);
    padding-right: var(--lwc-spacingXSmall,0.5rem);
    padding-top: var(--lwc-spacingXxSmall,0.25rem);
    margin-bottom: var(--lwc-spacingXxxSmall,0.125rem);
}
.THIS .preInput{
    padding: 0 var(--lwc-spacingXxSmall, 0.25rem);
    margin-bottom: var(--lwc-spacingXSmall, 0.5rem);
}