.spinner__1{
    position: fixed !important;
    z-index: 9999 !important;
}

.slds-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slds-media__body {
    margin-bottom: 0px;
    background-color: #0176D1;
    height: 2.5rem;
    border-radius: 0.3rem;
}
.slds-card__header-title {
    height: 100%;
    font-weight: bold;
}
.grpname {
    color: white;
    margin: auto 15px;
}
.button-div {
    margin: auto 1rem auto auto;
}
.slds-m-left_auto {
    font-size: 2rem;
    height: 2rem;
    margin: auto;
}
.slds-m-left_auto p {
    margin-top: -0.3rem;
}
.custom-datatable .slds-th {
    background-color: #16325c; 
}
.slds-p-horizontal_small {
    padding: 0.75rem 1rem;
}

.slds-m-around_medium {
    margin: 1rem;
}


.dropIcon{
    display: flex !important;
    align-items: center !important;
    padding-left: 10px !important;
}

.leftSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
}

.projectName{
    font-size: larger;
}

.budgetData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightSection{
    display: flex;
    align-items: center;
    width: 35%;
}

.quoteDetails{
    gap: 3rem;
    display: flex;
    justify-content: end;
    width: -webkit-fill-available;
}

.value{
    border: 1px solid #d8dde6;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    box-shadow: 0px 0px 5px 0px #00000040;
    min-width: max-content;
}

.label {
    font-size: 0.9rem;
    margin-bottom: 3px;
    font-weight: 500;
}

.buttonSection{
    height: 5.7vh;
    justify-content: flex-end;
    gap: 1%;
    width: 100%;
}

.rightSection{
    padding-inline: 1rem;
}

.budget-table{
    width: 100%;
}

.globalMarkup{
    display: flex;
    align-items: center;
}

.singleLineEntry{
    width: 100%;
    padding-inline: 1rem;
}

.hidden{
    display: none;
}

.table-container {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

.table-header {
    background-color: #0176D1;
}

.table-header th {
    padding: 8px;
    color: white;
    font-weight: bold;
}

.table-header th:nth-child(1),
.table-header th:nth-child(3) {
    width: 27%;
}

.table-header th:nth-child(2) {
    width: 23%;
}

.table-header th:nth-child(4),
.table-header th:nth-child(5),
.table-header th:nth-child(6) {
    width: 7%;
}

.table-header th:nth-child(7) {
    width: 3%;
}

.table-row {
    background-color: whitesmoke;
}

.table-cell {
    padding: 8px;
}

.input-field {
    height: 35px;
}

.title {
    font-size: x-large;
    padding-left: 1rem;
}

.container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.rightContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.leftContainer {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    white-space: nowrap;
}

.no-wrap {
    white-space: nowrap;
    flex-shrink: 0;
}

.globalBtn {
    display: flex;
    align-items: center;
}

.globalTitle {
    width: 100px;
    font-weight: 500;
}