.THIS lightning-icon.some-indicator {
    background-color: #006DCC;
    width: 2rem;
    height: 2rem;
}

.THIS lightning-icon.some-indicator>lightning-primitive-icon>svg>use {
    fill: white;
    background-color: #006DCC;
    width: 2rem;
    height: 2rem;
}

.THIS .slds-form-element__icon {
    display: none !important;
}

.THIS .slds-form-element__label {
    margin-top: 0px;
    /* display : none;
        visibility : hidden;*/
}

.THIS .tableRow .buildertekBT_LookupFields{
    padding-top: 7px;
}

.THIS .tableDiv{
    min-height: 90vh;
}

.THIS .some-indicator {
    background-color: indianred !important;
}

.THIS .alignment {
    margin-top: 18px;
}

.THIS td {
    padding-block: 3px !important;
}

.THIS .slds-form-element__help {
    display: none !important;
    border: #ccc !important;
}

.THIS .header {
    padding-left: 5px !important;
}