.scheduleContainer {
    margin: 1%;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    height: 43rem;
}

.picklistcombo {
    display: flex;
    width: 90%;
    align-items: center;
}

.picklist {
    width: 40%;
    margin: 0px 16px;
}

.btnContainer {
    width: 20%;
    margin: 16px 0 0 16px;
}

@media only screen and (max-height: 900px) {
    .scheduleContainer {
        height: 38rem !important;
    }
}